In [1]:
#ans1
data=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_data=sorted(data,key=lambda x:x[1])
for i in sorted_data:
    print(i)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

In [2]:
#ans2
data=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_data=list(map(lambda x:x**2,data))
print(squared_data)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#ans3
list1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tup=tuple(map(lambda x:str(x),list1))
print(tup)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
#ans4
from functools import reduce
list1=[]
i=1
while i<=25:
    list1.append(i)
    i+=1
print(list1)
sum1=reduce(lambda x,y:x+y,list1)
print('sum of all numbers in the list=',sum1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
sum of all numbers in the list= 325

In [5]:
#ans5
list1=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
result=list(filter(lambda x:x%2==0 and x%3==0,list1))
print('numbers divisible by 2 and 3=',result)

numbers divisible by 2 and 3= [6, 60, 90, 120]

In [6]:
#ans6
list1=['python', 'php', 'aba', 'radar', 'level']
result=list(filter(lambda x:x==x[::-1],list1))
print('palindrome in the given list=',result)

palindrome in the given list= ['php', 'aba', 'radar', 'level']