In [1]:
#ans1
#for loop
#For loop is used when the number of iterations is already known.
#ex=printing table of 2
for i in range(1,11):
        print(2*i)
    
#while loop
#While loop is used when the number of iterations is already Unknown.
#ex=
count = 0
while (count < 3):
    count = count + 1
    print("Hello pwskills")

2
4
6
8
10
12
14
16
18
20
Hello pwskills
Hello pwskills
Hello pwskills

In [2]:
#Ans 2
#sum of first 10 natural numbers using for loop
sum1=0
for i in range(1,11):
    sum1=sum1+i
print("sum of first 10 natural numbers using for loop=",sum1)

#product of first 10 natural numbers using for loop
product=1
for i in range(1,11):
    product=product*i
print("product of first 10 natural numbers using for loop=",product)

#sum of first 10 natural numbers using while loop
sum2=0
i = 1
while i <= 10:
    sum2+=i
    i += 1
print("sum of first 10 natural numbers using while loop=",sum2)

#product of first 10 natural numbers using while loop
product=1
i = 1
while i <= 10:
    product*=i
    i += 1
print("product of first 10 natural numbers using while loop=",product)

sum of first 10 natural numbers using for loop= 55
product of first 10 natural numbers using for loop= 3628800
sum of first 10 natural numbers using while loop= 55
product of first 10 natural numbers using while loop= 3628800

In [3]:
#ans3
unit=int(input("enter the no. of units of electricity consumed in 1 month:"))
if (unit<=100):
    bill=4.5*unit
    print("bill=",bill)
elif(unit>100 and unit<=200):
    bill=4.5*100+(unit-100)*6.0
    print("bill=",bill)
elif(unit>200 and unit<=300):
    bill=4.5*100+6.0*100+(unit-200)*10.0
    print("bill=",bill)
elif(unit>300):
    bill=4.5*100+6.0*100+10.0*100+(unit-300)*20
    print("bill=",bill)

enter the no. of units of electricity consumed in 1 month: 310

bill= 2250.0

In [4]:
#ans 4 
# by using for loop
l1=[]
l2=[]
for i in range(1,101):
    l1.append(i)
print(l1)
for i in l1:
    cube=i**3
    if(cube%4==0 or cube%5==0):
        l2.append(cube)
print()
print("list of cube of a number which are divisible by 4 or 5 =",l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

list of cube of a number which are divisible by 4 or 5 = [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [5]:
#ans 4 
# by using while loop
l3=[]
l4=[]
i=1
while i<=100:
    l3.append(i)
    i+=1
print(l3)
index=0
while index<len(l3):
    cube=l3[index]**3
    if(cube%4==0 or cube%5==0):
        l4.append(cube)
    index+=1
print()
print("list of cube of a number which are divisible by 4 or 5 =",l4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

list of cube of a number which are divisible by 4 or 5 = [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [7]:
string="I want to become a data scientist"
vowel="AEIOUaeiou"
count=0
i=0
for char in string:
    if char in vowel:
        count+=1
print("no. of vowels in the strint=",count)

no. of vowels in the strint= 12